version: "3.8"
services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: keycloak
    command:
      - start-dev
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8999:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
volumes:
  keycloak_data: